body {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



.rectangle {
    width: 700px;
    height: 500px;
    /* background-color: #ffffff; */
    border: 0px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    /* border-color: black; */
    backdrop-filter: blur(10px);
    /* For older browser support */
    -webkit-backdrop-filter: blur(10px);
}

.rectangle:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.rectangle-content {
    text-align: center;
}

.btn {
    margin-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #87CEEB, #1E90FF);
    
    transition: background-color 0.5s ease;
    
  }

  /* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #172328, #051423);
  } */
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('day-clouds.png');
    opacity: 0.6;
    pointer-events: none;
  }